//colors
$color-primary: #171717;
$color-secondary: #525252;

$color-btn-primary: #4338CA;
$color-btn-secondary: #FFF;

$color-bg-primary: #FFFFFF;
$color-bg-gradient: linear-gradient(90deg,  #F9FAFB 0%, #D2D6DB 100%);

//text
$size-primary: 48px;
$size-subtitle: 20px;
$size-secondary: 18px;
$size-tertiary: 16px;

